

.fade {
    margin: 50px;
    padding: 50px;
    opacity: 1;
  }

/* body {
    background-image: url('../images/S&M_Engagement-161.jpg'); 
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    
} */

a {
    color: #ffffff;
}

.fade {
    margin: 50px;
    padding: 50px;
    opacity: 1;
  }

#navbar {
    width: 100%;
    background-color: #5c1212;
    
    /* padding: 10px; */
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Adding to Bootstrap class */
.nav-link {
color:rgb(255, 255, 255);
}

/* Adding to Bootstrap class */
.nav-item a:hover {
    font-weight: bold;
}


.nav_title {
color: orange;
/* text-shadow: 1px 1px 1px black; */
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
padding-left: 20px;
}

/*Wrapper for all main content in a page */
.page_content {
padding: 50px;
}



body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


p {
    color:rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 0px 10px black
}

.name p {
text-align: end;
}

.name p:hover {
color: rgb(0, 0, 0);
}

.hide {
display: none;
}

.name:hover +.hide {
display: block;
color: white;
}

h1 {
    /* color:rgba(168, 168, 168, 1); */
    color:rgb(255, 255, 255);
    font-size: 7em;
    font-family: "Milo Serif";
    text-shadow: -2px 2px 20px black;
}

h2 {
    color:rgb(255, 255, 255);
    font-size: 3em;
    font-family: "Helvetica Neue";
    text-shadow: -2px 2px 20px black;
    text-align: center;
}

.text_description {
    text-align: center;
    padding: 20px;
    /* color: white; */
    font-size: larger;
    background-color: rgba(51, 51, 51, 0.8);
}



.chart {
    align-content: center;
    padding: 20px;
    border: black;
    border-width: 5px;
}

.our_story {
    background-color: #5c1212;
}

.custom-toggler {
    padding: 0.5rem;
    border: 0.2rem solid white;
}

.section {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* height: 25rem; */
    max-width: inherit;
    
    /* background-attachment: fixed;  */


}

@media (max-width: 767px) {
    .section {
        /* background-size: contain;  */
        background-position: center;
    }
}

#section1 {
    background-image: url('../images/S&M_Engagement-161.jpg'); 
    /* background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column; */
    background-attachment: fixed; 
}

#section2 {
    /* background-image: url('../images/S&M_Engagement-161.jpg');      */
    background-color: #5c1212;
}

#section3 {
    background-image: url('../images/S&M_Engagement-94.jpg');  
}

#section4 {
    background-image: url('../images/S&M_Engagement-152.jpg');  
}